body {
  margin: 0;
}

.navigation-primary {
  background: #00214a;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
h2.navigation-title {
  padding: 18px 30px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: 1140px;
}
.card {
  border-radius: 10px;
  box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  background-color: #fff;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  min-height: 40rem;
}

.grid-item {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.styled-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.styled-input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.styled-input:focus {
  border-color: #007bff;
  outline: none;
}
.styled-label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.styled-select {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  transition: border-color 0.3s ease;
}

.styled-select:focus {
  border-color: #007bff;
  outline: none;
}
.styled-select option {
  background-color: #fff;
  color: #333;
}
.styled-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.styled-button:hover {
  background-color: #0056b3;
}

.InputDiv {
  margin: 12px;
}

.btnContainer {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}
.btn-styled {
  border: none;
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.btn-styled:disabled {
  cursor: not-allowed;
  background-color: rgba(229, 229, 229);
  color: black;
}
.styled-button:disabled {
  cursor: not-allowed;
  background-color: rgba(229, 229, 229);
  color: black;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

th,
td {
  padding: 12px 8px;
  border: 1px solid #ddd;
}

th {
  cursor: pointer;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.table-container {
  overflow-x: auto;
}

.responsive-table {
  width: 100%;
  border-collapse: collapse;
}

.responsive-table th,
.responsive-table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
  .responsive-table th,
  .responsive-table td {
    font-size: 14px;
  }
}
